<div class=" container pt-5">
  <h1 class="text-primary text-center">Shipping Prices</h1>
  <div class="container">
    <div class="row" *ngFor="let shipping of shippingCosts | async">
      <div class="col">
        <img style="width: 100px;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgd320kYXenPlrGwuT9TMNGLIKY5EfIxVCTfAKPleoZGO7PIAt15p02lI67K_XNPIui1k&usqp=CAU"
          alt="{{shipping.type}}">
      </div>
      <div class="col">
        {{ shipping.type + " "}}
      </div>
      <div class="col">
        {{ shipping.price | currency:'GHC' }}
      </div>
    </div>
  </div>
  <button class="btn btn-primary ml-5 mt-4 " routerLink='/cart'>
    Back
  </button>
</div>