<div class="container pt-5">
  <h2 class="text-center text-primary">Product Details</h2>

  <div *ngIf="product">
    <table class=" table table-borderd">
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price |currency }}</td>
        <td>{{ product.description }}</td>
      </tr>
    </table>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
        <div class="col-lg-2">
          <button class="btn btn-primary ml-5 " routerLink=''>
            Back
          </button>
        </div>
      </div>
    </div>

  </div>
</div>