<!--Cart container-->
<div style="padding: 20px 20px 20px 20px;">
  <h1 class="text-primary text-center text-uppercase">Cart</h1>
  <!--If Cart is Empty-->
  <h1 *ngIf="!items?.length">Cart is empty</h1>
  <!--Cart Not Empty, loop and display available products-->
  <div *ngFor="let item of items">
    <ul class="list-group">
      <li class="list-group-item ">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <span><img src={{item.imgUrl}} alt="item.name"> </span>
              <span>{{" " +item.name+" "}} </span>
              <span>{{item.price | currency: 'GHC'}}</span>
            </div>
            <div class="col-sm">

              <button class="btn btn-warning" (click)=decreaseQty(item)>-</button>
              <button class="btn btn-white">{{item.qty}}</button>
              <button class="btn btn-primary" (click)=addQty(item)>+</button>
              <button class="btn text-white bg-danger" style="margin-left: 25rem; margin-top: -4.0rem;"
                (click)="removeProduct(item)">Remove</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <button class="btn btn-primary  mr-3 mt-3 mb-3" routerLink="/shipping">
    Shipping Prices
  </button>

  <button class="btn btn-primary  mr-3 mt-3 mb-3" routerLink=''>Continue Shopping ></button>

  <!--Checkout form-->
  <form *ngIf="items?.length" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="mt-3 mb-3">
    <div>
      <label for="name" class="mr-3">
        Name
      </label>
      <input id="name" type="text" formControlName="name" placeholder=" Full Name">
    </div>
    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address" placeholder="Enter your address">
    </div>
    <button class="button mt-3 btn-primary" type="submit"> Confirm purchase</button>
  </form>
</div>