<div class="container mb-3 pb-3 pt-5 bg-white">
  <h1 class="text-primary text-uppercase text-center">Products</h1>
  <div *ngFor="let product of products">
    <!--Grid start-->
    <div class="container mt-3 mb-3">
      <div class="row mt-3 mb-3 pt-3 pb-3">
        <div class="col-sm">
          <!--Products list content here using boostrap cards-->
          <div class="card bg-light" style="width: 15rem;" [title]="product.name + ' details'">
            <img class="card-img-top" style="cursor: pointer;" src={{product.imgUrl}} alt={{product.name}}
              [routerLink]="['/products',product.id]">
            <div class="card-body">
              <a [title]="product.name + ' details'" [routerLink]="['/products',product.id]">
                <h1 [title]="product.name + ' details'" [routerLink]="['/products',product.id]">{{ product.name }}</h1>
              </a>
              <p class="card-text">{{product.price | currency:'GHC'}}</p>
              <button class="btn btn-primary w-100" (click)="addToCart(product)">
                Add to Cart
              </button>
            </div>
          </div>
          <!--End of Product list container-->
        </div>
        <div class="col-sm">
          <!--Products list content here using boostrap cards-->
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" style="cursor: pointer;" src={{product.imgUrl}} alt={{product.name}}
              [title]="product.name + ' details'" [routerLink]="['/products',product.id]">
            <div class="card-body">
              <a [title]="product.name + ' details'" [routerLink]="['/products',product.id]">
                <h1 [title]="product.name + ' details'" [routerLink]="['/products',product.id]">{{ product.name }}</h1>
              </a>
              <p class="card-text">{{product.price | currency:'GHC'}}</p>
              <button class="btn btn-primary w-100" (click)="addToCart(product)">
                Add to Cart
              </button>

            </div>
          </div>
          <!--End of Product list container-->
        </div>
        <div class="col-sm">

          <!--Products list content here using boostrap cards-->
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" style="cursor: pointer;" src={{product.imgUrl}} alt={{product.name}}
              [title]="product.name + ' details'" [routerLink]="['/products',product.id]">
            <div class="card-body">
              <a [title]="product.name + ' details'" [routerLink]="['/products',product.id]">
                <h1 [title]="product.name + ' details'" [routerLink]="['/products',product.id]">{{ product.name }}</h1>
              </a>
              <p class="card-text">{{product.price | currency:'GHC'}}</p>
              <button class="btn btn-primary w-100" (click)="addToCart(product)">
                Add to Cart
              </button>

            </div>
          </div>
          <!--End of Product list container-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--Grid end-->