<div class="navbar bg-primary fixed-top">
  <a>
    <h1 class="text-white" routerLink='' style="cursor: pointer;">My Store</h1>
  </a>
  <a class="btn bg-white text-primary" routerLink="/cart"><i class="fas fa-shopping-cart"></i>Checkout</a>
</div>